click-shell==2.1 ; python_full_version >= "3.8.1" and python_version < "3.13"
click==8.1.7 ; python_full_version >= "3.8.1" and python_version < "3.13"
colorama==0.4.6 ; python_full_version >= "3.8.1" and python_version < "3.13" and platform_system == "Windows"
markdown-it-py==3.0.0 ; python_full_version >= "3.8.1" and python_version < "3.13"
mdurl==0.1.2 ; python_full_version >= "3.8.1" and python_version < "3.13"
pygments==2.18.0 ; python_full_version >= "3.8.1" and python_version < "3.13"
pyyaml==6.0.2 ; python_full_version >= "3.8.1" and python_version < "3.13"
rich==13.8.0 ; python_full_version >= "3.8.1" and python_version < "3.13"
shellingham==1.5.4 ; python_full_version >= "3.8.1" and python_version < "3.13"
typer==0.12.5 ; python_full_version >= "3.8.1" and python_version < "3.13"
typing-extensions==4.12.2 ; python_full_version >= "3.8.1" and python_version < "3.13"
