appnope==0.1.4
asttokens==2.4.1
backcall==0.2.0
click==8.1.7
click-shell==2.1
decorator==5.1.1
executing==2.0.1
ipdb==0.13.13
ipython==8.12.3
jedi==0.19.1
markdown-it-py==3.0.0
matplotlib-inline==0.1.7
mdurl==0.1.2
parso==0.8.4
pexpect==4.9.0
pickleshare==0.7.5
prompt_toolkit==3.0.47
ptyprocess==0.7.0
pure_eval==0.2.3
Pygments==2.18.0
PyYAML==6.0.2
rich==13.8.0
shellingham==1.5.4
six==1.16.0
stack-data==0.6.3
traitlets==5.14.3
typer==0.16.0
-e git+ssh://git@github.com/fergusfettes/typer-shell@9a7d4769233b528ffd69cc7d012b00d4b28b5715#egg=typer_shell
typing_extensions==4.12.2
wcwidth==0.2.13
